.about {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  z-index: 1;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.about .box {
    position: relative;
    max-width: 100%;
    min-width: 0;
    width: auto; /* Auto-adjust width */
    height: auto;
    min-height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    margin: 10px auto; /* Centering with auto margins */
  }
  
 .about .box-footer {
    font-size: 0.65em;
    color: rgb(11, 186, 192);
  }
  

  /* glowing border (rainbow effect) */
  
  .block {
    position: relative;
    margin: 300px auto 0;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden; /* Ensure the box-shadow is contained within the borders */
}



.block:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 2px transparent; /* Set a transparent box-shadow for the border effect */
    border-radius: 20px;
    animation: steam 3s linear infinite;
}

@keyframes steam {
    0% {
        box-shadow: inset 0 0 0 2px #0086FF, inset 0 0 20px rgba(0, 0, 0, 0.5);
    }
    25% {
        box-shadow: inset 0 0 0 2px #93EAFF, inset 0 0 20px rgba(0, 0, 0, 0.5);
    }
    50% {
        box-shadow: inset 0 0 0 2px #D62293, inset 0 0 20px rgba(0, 0, 0, 0.5);
    }
    75% {
        box-shadow: inset 0 0 0 2px #FFFFFF, inset 0 0 20px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: inset 0 0 0 2px #7a3e64, inset 0 0 20px rgba(0, 0, 0, 0.5);
    }
}